.cardContainer{
    width: 300px;
    height: 500px;
    position: fixed;
    right: 0.56rem;
    bottom: 0.56rem;
    margin-right: 2%;
}
.card-header{
    background-color: rgb(78, 76, 76);
    color: wheat;
    font-weight: 700; 
}
.card-body{
    padding: 00.56rem;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.card-footer{
    background-color: rgb(78, 76, 76);
}
.imgEnviar:active{
    transform: scale(0.5);
}
.enviado{
    display: block;
    float: left;
    background-color: green;
    color: white;
    min-width: 10px;
    border-radius: 9px;
    text-align: left;
}
.recibido{
    display: block;
    float: right;
    background-color: rgb(6, 17, 82);
    color: white;
    min-width: 50.01px;
    border-radius: 10px;
    text-align: left;
}