<div *ngIf="usuarioLogeado && !mostrarChat " class="chatIconContainer" (click)="mostrarChat=true">
    <img src="https://img.icons8.com/color/48/000000/chat--v1.png" alt="" class="ChatIcon">

</div>

<div class="card text-center cardContainer" *ngIf="usuarioLogeado && mostrarChat ">
    <div class="card-header">
      Mensajes
      <div class="closeIcon" (click)="mostrarChat=false">X</div>
    </div>

    <div class="card-body contendedordeMensajes h-100"  id="contendedordeMensajes" >
        <div >
            <p  *ngFor="let mensaje of mensajes" class="msj p-2" 
            [ngClass]="(usuarioLogeado.uid == mensaje.emisor)? 'enviado' : 'recibido' ">
            {{mensaje.texto}}
            </p>
        </div>

    </div>

    <form class="card-footer text-muted input-group" (ngSubmit)="enviarMensaje()">
       
        <input type="text" class="form-control" placeholder="Enviar mensaje" [(ngModel)]="nuevoMensaje"
         [ngModelOptions]="{standalone: true}">
            <div class="input-group-append" (click)="enviarMensaje()">
            <span class="input-group-text " id="basic-addon2">
                <img class="imgEnviar" src="https://img.icons8.com/ios-glyphs/30/000000/filled-sent.png" alt="send message">
            </span>
        </div>
    </form>

</div>